@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Bad+Script");

.cursive{
    font-family: "Bad Script", cursive;
}

.prose img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.home-name{
    font-size: 150px;
}